
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Regras para a coleção 'users'
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;

      // Allow professionals to read patient data
      allow read: if request.auth.uid == userId || 
                  (exists(/databases/$(database)/documents/users/$(request.auth.uid)) && 
                   get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'professional');
    }

    // Rules for subcollections within 'users'
    match /users/{userId}/{collection}/{docId} {
      // Allow users to read/write their own subcollections
      allow read, write: if request.auth.uid == userId;

      // Allow professionals to read patient data in subcollections
      allow read: if request.auth.uid == userId || 
                  (exists(/databases/$(database)/documents/users/$(request.auth.uid)) && 
                   get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'professional');

      // Allow patients to read reports created for them by professionals
      allow read: if collection == 'reports' && 
                  request.auth.uid == resource.data.patientId;
    }
    
    // Rules for the 'chats' collection
    match /chats/{chatId} {
    	allow read, update, delete: if request.auth.uid in resource.data.participants;
      allow create: if request.auth.uid in request.resource.data.participants;
      
      // Rules for the 'messages' subcollection
      match /messages/{messageId} {
      	allow read: if get(/databases/$(database)/documents/chats/$(chatId)).data.participants.hasAny([request.auth.uid]);
        allow create: if get(/databases/$(database)/documents/chats/$(chatId)).data.participants.hasAny([request.auth.uid])
                      && request.resource.data.senderId == request.auth.uid;
      }
    }
  }
}
